{%extends "base.html"%}

{%block title%}GAE Starter{%endblock%}


{% block extrastyle %}
{% endblock %}

{%block body%}
  {% if warn_msg %}
    <p class="alert alert-warning"><strong>WARNING:</strong> {{warn_msg}}</p><br/>
  {% endif %}
  {% if success_msg %}
    <p class="alert"><strong>SUCCESS_MSG:</strong> {{success_msg}}</p><br/>
  {% endif %}

  {% if user %}
    <h3>Welcome {{user.nickname()}}</h3>
    {% if account.upgraded %}
      <h5>Sites you want checked every 5 min.</h5>
    {% else %}
      <h5>Sites you want checked hourly</h5>
    {% endif %}
    <form class="form-inline" action="" method="post">
    <input type="text" name="site1" placeholder="URL" value="{{account.get_sites()[0] }}"/><br/>
    <input type="text" name="site2" placeholder="URL" value="{{account.get_sites()[1] }}"/><br/>
    <input type="text" name="site3" placeholder="URL" value="{{account.get_sites()[2] }}"/><br/>
    <input type="text" name="site4" placeholder="URL" value="{{account.get_sites()[3] }}"/><br/>
    <input type="text" name="site5" placeholder="URL" value="{{account.get_sites()[4] }}"/><br/>
    <button class="btn btn-primary" type="submit" name="update_sites" value="submit" ><span class="icon-ok icon-white"></span>Update</button>
    </form>  
    <p>The system will email any failed URL's to {{account.email}}.</p>

    {% if not account.upgraded %}
    To increase frequency to every 5 minutes, there is a one-time fee of $5.
    <form action="" method="POST">
    <script
      src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
      data-key="pk_test_VkJLEeYPBrJ5UcKx5OkcZYVz"
      data-amount="500"
      data-name="Site Error Notifier"
      data-description="Site Error Notifier upgrade $5"
      data-image="/128x128.png">
    </script>
    </form>
    {% endif %}
  {% else %}
    <a href="{{login_url}}" class="button">Login with Google</a> to begin.
  {% endif %}
  
{%endblock%}
